name: Deploy to production server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.9.0

      - name: Set up Ansible
        run: sudo apt-get update && sudo apt-get install -y ansible

      - name: Configure SSH key
        run: |
          mkdir -p ~/.ssh
          chmod 600 ~/.ssh/hetzner_gameprinthub

      - name: Set Hetzner token
        run: |
          export TF_VAR_hcloud_token="${{ secrets.HCLOUD_TOKEN }}"
          cd infrastructure
          ./deploy-prod.sh

# TODO: add push docker images to registry